@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  padding: 0 24px;
  font-size: 1.6rem;
  background: #fffaf5;
}

.container {
  max-width: 1152px;
  width: 100%;
  margin: 0 auto;
}

.section-desc {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.88;
  color: #656689;
}

.section-heading {
  font-family: "Sora";
  font-weight: 700;
  font-size: 5.2rem;
  line-height: 1.19;
  color: #000958;
}

.view-all {
  max-width: 214px;
  display: inline-block;
  padding: 20px 38px;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 16px;
  color: #ff5b2e;
  border: 1px solid #ff5b2e;
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
  border-radius: 31px;
}
.view-all:hover {
  opacity: 0.6;
}

header.header .container .header-top {
  padding-top: 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 200px;
       column-gap: 200px;
}
header.header .container .header-top nav.nav .list-nav {
  display: flex;
}
header.header .container .header-top nav.nav .list-nav > li:nth-child(1) .list-nav-item {
  color: #000958;
}
header.header .container .header-top nav.nav .list-nav .list-nav-item {
  padding: 4px 18px;
  font-weight: 500;
  font-size: 1.4rem;
  color: #5e6085;
  text-decoration: none;
}
header.header .container .header-top nav.nav .list-nav .list-nav-item:hover {
  text-shadow: 0px 0px #000;
  color: #000958;
}
header.header .container .header-top .btn-action .header-action-btn {
  display: inline-block;
  font-weight: 600;
  font-size: 1.4rem;
  color: #000958;
  padding: 18px 32px;
  border: 1px solid #000958;
  border-radius: 25px;
  cursor: pointer;
}
header.header .container .header-hero {
  display: flex;
  align-items: center;
  margin-top: 48px;
}
header.header .container .header-hero .hero-media .row {
  display: flex;
}
header.header .container .header-hero .hero-media .row .hero-media-images {
  position: relative;
}
header.header .container .header-hero .hero-media .row .hero-media-images .hero-media-img {
  width: 380px;
  padding-top: 15px;
  background: #fe997b;
  border-radius: 16px;
  border: 2px solid #fff;
}
header.header .container .header-hero .hero-media .row .hero-media-images .hero-media-subPhoto1 {
  position: absolute;
  right: -40px;
  z-index: -1;
}
header.header .container .header-hero .hero-media .row .hero-media-images .hero-media-subPhoto2 {
  position: absolute;
  left: -60px;
  bottom: 0;
  z-index: -1;
}
header.header .container .header-hero .hero-media .row .hero-media-images-right {
  position: relative;
  display: block;
  padding-top: 24px;
  width: 186px;
  height: 244px;
  background: #faa7ad;
  border-radius: 16px;
  margin-top: auto;
  margin-left: -21px;
  border: 2px solid #fff;
}
header.header .container .header-hero .hero-media .hero-media-pet {
  position: relative;
  margin-top: -66px;
  margin-left: 132px;
  width: 250px;
  padding: 0 14px;
  background-color: #fff;
  box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
  border-radius: 10px;
}
header.header .container .header-hero .hero-media .hero-media-pet .row {
  padding-top: 18px;
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 2px solid #f2f2f2;
}
header.header .container .header-hero .hero-media .hero-media-pet .row .hero-media-pet-content .title {
  font-weight: 600;
  font-size: 14px;
  color: #181e52;
}
header.header .container .header-hero .hero-media .hero-media-pet .row .hero-media-pet-content .value {
  display: block;
  margin-top: 7px;
}
header.header .container .header-hero .hero-media .hero-media-pet .row .hero-media-pet-content .value::before, header.header .container .header-hero .hero-media .hero-media-pet .row .hero-media-pet-content .value::after {
  content: "";
  display: block;
  height: 4px;
  background: #000958;
  opacity: 0.08;
  border-radius: 10px;
}
header.header .container .header-hero .hero-media .hero-media-pet .row .hero-media-pet-content .value::before {
  width: 118px;
}
header.header .container .header-hero .hero-media .hero-media-pet .row .hero-media-pet-content .value::after {
  margin-top: 6px;
  width: 39px;
}
header.header .container .header-hero .hero-media .hero-media-pet .row:last-child {
  border: none;
}
header.header .container .header-hero .hero-content {
  max-width: 517px;
  margin-left: auto;
}
header.header .container .header-hero .hero-content .hero-heading {
  margin-bottom: 24px;
  font-family: "Sora", sans-serif;
  font-weight: 700;
  font-size: 5.2rem;
  line-height: 1.19;
  color: #000958;
}
header.header .container .header-hero .hero-content .row {
  margin-top: 38px;
  display: flex;
  align-items: center;
}
header.header .container .header-hero .hero-content .row .hero-content-btn {
  text-align: center;
  padding: 20px 30px;
  font-weight: 600;
  font-size: 1.6rem;
  color: #ffffff;
  background: #ff5b2e;
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
  border-radius: 31px;
}
header.header .container .header-hero .hero-content .row .hero-content-btn .hero-btn-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  width: 20px;
  height: 20px;
  font-size: 0.8rem;
  padding: 8px;
  border-radius: 50%;
  background-color: #fff;
  color: #ff5b2e;
}
header.header .container .header-hero .hero-content .row .hero-content-btn:hover {
  opacity: 0.9;
  cursor: pointer;
}
header.header .container .header-hero .hero-content .row .hero-content-phone {
  margin-left: 24px;
  font-weight: 500;
  font-size: 1.6rem;
  text-align: center;
  text-decoration-line: underline;
  color: #000958;
}

main section.about {
  margin-top: 24px;
  padding: 53px 0;
}
main section.about .container .body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main section.about .container .body .about-content {
  max-width: 478px;
}
main section.about .container .body .about-content .title-about {
  margin-bottom: 15px;
  font-family: "Sora";
  font-weight: 600;
  font-size: 1.6rem;
  color: #5e6085;
}
main section.about .container .body .about-content .about-heading {
  margin-bottom: 24px;
}
main section.about .container .body .about-content .about-desc {
  margin-bottom: 57px;
}
main section.about .container .body .about-content form.form-about {
  display: flex;
  justify-content: space-between;
}
main section.about .container .body .about-content form.form-about .form-row {
  display: flex;
  flex-direction: column;
}
main section.about .container .body .about-content form.form-about .form-row .form-group {
  margin-bottom: 40px;
}
main section.about .container .body .about-content form.form-about .form-row .form-group [type=checkbox]:checked ~ .form-label::before {
  background: #ff5d31;
  box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
}
main section.about .container .body .about-content form.form-about .form-row .form-group [type=checkbox]:checked ~ .form-label::after {
  position: absolute;
  width: 12px;
  height: 7px;
  left: 5px;
  top: 4px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(-45deg);
}
main section.about .container .body .about-content form.form-about .form-row .form-group:nth-child(even) {
  margin-bottom: 0;
}
main section.about .container .body .about-content form.form-about .form-row .form-group .form-label {
  position: relative;
  font-weight: 500;
  font-size: 1.8rem;
  color: #48496a;
  display: flex;
  align-items: center;
}
main section.about .container .body .about-content form.form-about .form-row .form-group .form-label::before, main section.about .container .body .about-content form.form-about .form-row .form-group .form-label::after {
  content: "";
  display: inline-block;
}
main section.about .container .body .about-content form.form-about .form-row .form-group .form-label::before {
  margin-right: 10px;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background-color: #fff;
}
main section.about .container .body .about-media .about-media-right {
  position: relative;
}
main section.about .container .body .about-media .about-media-right .about-media-images {
  position: relative;
  width: 494px;
  height: 559px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section.about .container .body .about-media .about-media-right .about-media-images::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 4px;
  width: 100%;
  height: 334px;
  background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
  border-radius: 16px;
  z-index: -1;
}
main section.about .container .body .about-media .about-media-right .about-subImg {
  position: absolute;
  top: 160px;
  right: -50px;
  z-index: -1;
}
main section.about .container .body .about-media .about-media-right .about-media-title {
  position: absolute;
  top: 160px;
  left: -100px;
}
main section.about .container .body .about-media .about-media-right .about-media-title .about-images-content {
  position: relative;
  width: 136px;
  padding: 36px 21px 29px;
  background: #5bd6e2;
  box-shadow: -15px 26px 48px rgba(85, 240, 255, 0.17);
  border-radius: 10px;
}
main section.about .container .body .about-media .about-media-right .about-media-title .about-images-content .title {
  font-family: "Sora";
  font-weight: 700;
  font-size: 4.2rem;
  text-align: center;
  color: #ffffff;
}
main section.about .container .body .about-media .about-media-right .about-media-title .about-images-content .desc {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.43;
  text-align: center;
  color: #c6f4f9;
}
main section.about .container .body .about-media .about-media-right .about-media-title .about-images-content .about-title-img {
  position: absolute;
  top: -42px;
  right: -30px;
}
main section.vacation {
  margin-top: 90px;
  padding-bottom: 180px;
}
main section.vacation .container .body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 80px;
       column-gap: 80px;
}
main section.vacation .container .body .vacation-media {
  max-width: 500px;
  position: relative;
}
main section.vacation .container .body .vacation-media .vacation-media-img-banner {
  margin-left: -70px;
}
main section.vacation .container .body .vacation-media .vacation-media-img-worm {
  position: absolute;
  top: 0;
  right: 0;
}
main section.vacation .container .body .vacation-media .vacation-media-img-worm:nth-of-type(2) {
  top: 70px;
  right: 10px;
}
main section.vacation .container .body .vacation-media .vacation-media-img-worm:nth-of-type(3) {
  top: 2px;
  right: 44px;
}
main section.vacation .container .body .vacation-media .vacation-media-img-worm:nth-of-type(4) {
  top: 26px;
  right: 90px;
}
main section.vacation .container .body .vacation-media .vacation-media-img-triangle {
  position: absolute;
  top: 50%;
  right: 4px;
}
main section.vacation .container .body .vacation-media .vacation-media-img-triangle + .vacation-media-img-triangle {
  top: 60%;
  right: 50px;
  transform: translateX(-50%);
}
main section.vacation .container .body .vacation-media .vacation-media-img-round {
  position: absolute;
  bottom: 30px;
  right: 4px;
}
main section.vacation .container .body .vacation-content .vacation-heading {
  max-width: 543px;
  margin-bottom: 24px;
}
main section.vacation .container .body .vacation-content .vacation-desc {
  max-width: 511px;
  margin-bottom: 52px;
}
main section.vacation .container .body .vacation-content .pet-items {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main section.vacation .container .body .vacation-content .pet-items .pet-item {
  display: flex;
  align-items: center;
}
main section.vacation .container .body .vacation-content .pet-items .pet-item .pet-item-text {
  padding: 11px;
  font-family: "Sora";
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 18px;
  color: #48496a;
}
main section.vacation .container .body .vacation-content .pet-items::before {
  position: absolute;
  bottom: 0;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #e5e5e5;
}
main section.vacation .container .body .vacation-content .pet-items::after {
  position: absolute;
  bottom: 0;
  content: "";
  width: 120px;
  height: 2px;
  background-color: #ff5b2e;
}
main section.vacation .container .body .vacation-content .vacation-title {
  margin-top: 36px;
  max-width: 391px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.71;
  color: #656689;
}
main section.vacation .container .body .vacation-content .viewMore {
  display: inline-block;
  margin-top: 32px;
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 16px;
  color: #ff5d31;
}
main section.vacation .container .body .vacation-content .viewMore::after {
  display: block;
  position: absolute;
  bottom: 0;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #ff5d31;
}
main section.services {
  padding: 68px 0 100px;
  background: #fff6ed;
}
main section.services .container .services-title {
  font-family: "Sora";
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
  color: #5e6085;
}
main section.services .container .services-heading {
  margin-top: 15px;
  text-align: center;
}
main section.services .container .body {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main section.services .container .body .service-cards .service-card {
  padding: 30px 28px 30px;
  margin-bottom: 24px;
  background: #ffffff;
  border: 2px solid rgba(255, 188, 122, 0.26);
  border-radius: 10px;
}
main section.services .container .body .service-cards .service-card .service-card-header {
  position: relative;
  font-family: "Sora";
  font-style: normal;
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 22px;
  color: #000958;
  padding-left: 12px;
}
main section.services .container .body .service-cards .service-card .service-card-header::before {
  position: absolute;
  left: 0;
  content: "";
  width: 2px;
  height: 22px;
  background-color: #ff5b2e;
}
main section.services .container .body .service-cards .service-card .service-card-desc {
  max-width: 244px;
  margin: 18px 0 24px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.71;
  color: #656689;
}
main section.services .container .body .service-cards .service-card .service-card-more {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 12px;
  color: #34396a;
}
main section.services .container .body .service-cards .service-card .service-card-more > img {
  margin-left: 6px;
}
main section.services .container .body .service-cards-images .service-cards-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section.services .container .body .service-cards-images .service-cards-img img {
  z-index: 1;
}
main section.services .container .body .service-cards-images .service-cards-img::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 4px;
  width: 100%;
  height: 350px;
  background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
  border-radius: 10px;
}
main section.services .container .body .service-cards-images .view-all-services {
  margin-top: 46px;
  transform: translateX(50%);
}
main section.staff {
  padding: 100px 0;
  margin: 30px 0;
}
main section.staff .container .staff-title {
  font-family: "Sora";
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 16px;
  text-align: center;
  color: #5e6085;
}
main section.staff .container .staff-heading {
  margin-top: 16px;
  text-align: center;
}
main section.staff .container .body {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
}
main section.staff .container .body .list-staffs {
  display: flex;
  justify-content: space-between;
}
main section.staff .container .body .list-staffs .staff-item {
  max-width: 266px;
}
main section.staff .container .body .list-staffs .staff-item .staff-images {
  display: flex;
  position: relative;
  border-radius: 129.5px;
}
main section.staff .container .body .list-staffs .staff-item .staff-images .staff-img-avatar {
  display: block;
  z-index: 1;
  border-radius: 129.5px;
}
main section.staff .container .body .list-staffs .staff-item .staff-images::after {
  position: absolute;
  display: block;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  width: 234px;
  height: 266px;
  background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
  border-radius: 129.5px;
}
main section.staff .container .body .list-staffs .staff-item .staff-images .staff-img-border {
  position: absolute;
  left: -18px;
  bottom: 0;
}
main section.staff .container .body .list-staffs .staff-item .staff-item-title {
  margin: 30px 0 14px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 14px;
  text-align: center;
  color: #656689;
}
main section.staff .container .body .list-staffs .staff-item .staff-item-name {
  font-family: "Sora";
  font-style: normal;
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 22px;
  text-align: center;
  color: #000958;
}
main section.staff .container .body .list-staffs .staff-item:nth-child(2) .staff-images::after {
  background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}
main section.staff .container .body .list-staffs .staff-item:nth-child(2) .staff-img-border {
  top: 19px;
}
main section.staff .container .body .list-staffs .staff-item:nth-child(3) .staff-images::after {
  background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}
main section.staff .container .body .list-staffs .staff-item:nth-child(4) .staff-images::after {
  background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}
main section.staff .container .body .list-staffs .staff-item:nth-child(4) .staff-img-border {
  top: 19px;
}
main section.staff .container .body .view-all-team {
  margin-top: 48px;
  align-self: center;
}
main section.choice {
  padding: 86px 0;
  background: #fff6ed;
}
main section.choice .container .body .choice-heading {
  text-align: center;
}
main section.choice .container .body .choice-desc {
  margin: 24px auto 0;
  max-width: 700px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  color: #656689;
}
main section.choice .container .body .choice-switch {
  margin-top: 38px;
  display: flex;
  justify-content: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
main section.choice .container .body .choice-switch .date-label {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 276px;
  height: 56px;
  padding: 20px 40px;
  border: 1px solid #ff5b2e;
  border-radius: 31px;
}
main section.choice .container .body .choice-switch .date-label .date-span {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #ff5b2e;
  z-index: 1;
  cursor: pointer;
}
main section.choice .container .body .choice-switch .date-label .date-span:nth-child(2) {
  color: #fff;
}
main section.choice .container .body .choice-switch .date-label .date-label-bg {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  right: 0;
  width: 131px;
  height: 56px;
  background: #ff5b2e;
  border-radius: 31px;
  z-index: 0;
}
main section.choice .container .body .choice-switch [type=checkbox]:checked ~ .date-label .date-label-bg {
  left: 0;
}
main section.choice .container .body .choice-switch [type=checkbox]:checked ~ .date-label .date-span:nth-child(1) {
  color: #fff;
}
main section.choice .container .body .choice-switch [type=checkbox]:checked ~ .date-label .date-span:nth-child(2) {
  color: #ff5b2e;
}
main section.choice .container .body .choice-switch .choice-sale {
  position: relative;
  margin-top: -40px;
}
main section.choice .container .body .choice-cards {
  margin-top: 56px;
  display: flex;
  justify-content: center;
  -moz-column-gap: 44px;
       column-gap: 44px;
}
main section.choice .container .body .choice-cards .choice-card {
  padding: 30px 28px 43px;
  background: #ffffff;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
main section.choice .container .body .choice-cards .choice-card .title-card {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 12px;
  color: #ff5b2e;
}
main section.choice .container .body .choice-cards .choice-card .time-card {
  margin: 8px 0 24px;
  font-family: "Sora";
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 18px;
  /* identical to box height, or 100% */
  color: #3f4065;
}
main section.choice .container .body .choice-cards .choice-card .value-card {
  font-family: "Sora";
  font-style: normal;
  font-weight: 700;
  font-size: 3.3rem;
  line-height: 34px;
  color: #000958;
}
main section.choice .container .body .choice-cards .choice-card .purchase-btn {
  margin: 24px 0;
  display: block;
  padding: 14px 66px;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 16px;
  text-align: center;
  color: #ff5b2e;
  border: 1px solid rgba(255, 91, 46, 0.6);
  border-radius: 39px;
  cursor: pointer;
}
main section.choice .container .body .choice-cards .choice-card .purchase-btn:hover {
  color: #fff;
  background-color: #ff5b2e;
}
main section.choice .container .body .choice-cards .choice-card .benefits li .benefit {
  margin-top: 18px;
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 14px;
  color: #656689;
}
main section.choice .container .body .choice-cards .choice-card .benefits li:nth-of-type(4) .benefit > img {
  opacity: 0.8;
}
main section.choice .container .body .choice-cards .choice-card .benefits li:nth-of-type(5) .benefit > img {
  opacity: 0.6;
}
main section.choice .container .body .choice-cards .choice-card .benefits li:nth-of-type(6) .benefit > img {
  opacity: 0.4;
}
main section.choice .container .body .choice-cards .choice-card .benefits li:nth-of-type(7) .benefit > img {
  opacity: 0.2;
}
main section.choice .container .body .choice-cards .choice-card:hover {
  transform: translateY(-10px);
  transition: all 0.2s ease-in;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
}
main section.reviews {
  padding: 30px 0 130px;
}
main section.reviews .container .body {
  display: flex;
  align-items: center;
  -moz-column-gap: 118px;
       column-gap: 118px;
  position: relative;
}
main section.reviews .container .body .review-avatar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 274px;
  height: 427px;
}
main section.reviews .container .body .review-avatar img {
  z-index: 1;
  border-radius: 137px;
}
main section.reviews .container .body .review-avatar::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 274px;
  height: 350px;
  background: #ffda54;
  border-radius: 137px;
}
main section.reviews .container .body .review-content {
  max-width: 553px;
}
main section.reviews .container .body .review-content .review-desc {
  margin: 24px 0 34px;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.56;
  color: #000000;
}
main section.reviews .container .body .review-content .review-name {
  position: relative;
  font-family: "Sora";
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 18px;
  color: #282828;
  padding-left: 30px;
}
main section.reviews .container .body .review-content .review-name::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 2px;
  top: 50%;
  left: 0;
  background-color: #000000;
}
main section.reviews .container .body .btn-action .btn-review {
  width: 54px;
  height: 54px;
  border: 1.5px solid #ffd1c4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section.reviews .container .body .btn-action .btn-review > i {
  color: #ff5b2e;
}
main section.reviews .container .body .btn-action .btn-review:hover {
  background-color: #ff5b2e;
}
main section.reviews .container .body .btn-action .btn-review:hover > i {
  color: #fff;
}
main section.reviews .container .body .btn-action .btn-pre {
  position: absolute;
  left: -100px;
}
main section.reviews .container .body .btn-action .btn-next {
  position: absolute;
  right: 0;
}
main section.reviews .container .btn-around {
  margin-top: 56px;
  position: relative;
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
  justify-content: center;
}
main section.reviews .container .btn-around span {
  display: block;
  width: 8px;
  height: 8px;
  border: 1px solid #ff5b2e;
  border-radius: 4px;
  cursor: pointer;
}
main section.reviews .container .btn-around span:hover {
  background-color: #ff5b2e;
}
main section.reviews .container .btn-around span:nth-child(1) {
  width: 24px;
  height: 8px;
  background: #ff5b2e;
  border-radius: 4px;
}
main section.blog {
  padding-bottom: 130px;
}
main section.blog .container .body .blog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main section.blog .container .body .blog-header .blog-header-right .blog-header-desc {
  max-width: 350px;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.88;
  color: #656689;
}
main section.blog .container .body .blog-header .blog-header-right .view-all-blog {
  display: inline-block;
  padding: 20px 40px;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 16px;
  color: #ff5b2e;
  border: 1px solid #ff5b2e;
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
  border-radius: 31px;
}
main section.blog .container .body .blog-header .blog-header-right .view-all-blog:hover {
  opacity: 0.6;
}
main section.blog .container .body .blog-cards {
  margin-top: 54px;
  display: flex;
  justify-content: space-between;
}
main section.blog .container .body .blog-cards .blog-card {
  max-width: 358px;
  cursor: pointer;
}
main section.blog .container .body .blog-cards .blog-card .blog-card-images {
  background: #90ccff;
  border-radius: 24px;
  padding-left: 36px;
}
main section.blog .container .body .blog-cards .blog-card .blog-card-images .blog-card-date {
  display: block;
  padding: 24px 0;
  font-family: "Sora";
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.21;
  color: #ffffff;
}
main section.blog .container .body .blog-cards .blog-card .blog-card-images img {
  display: block;
}
main section.blog .container .body .blog-cards .blog-card:nth-child(2) .blog-card-images {
  background: #ff997e;
}
main section.blog .container .body .blog-cards .blog-card:nth-child(3) .blog-card-images {
  background: #5bd6e2;
}
main section.blog .container .body .blog-cards .blog-card .blog-card-title {
  margin: 28px 0 16px;
  font-family: "Sora";
  font-style: normal;
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 1.55;
  color: #000958;
}
main section.blog .container .body .blog-cards .blog-card .blog-card-desc {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.71;
  color: #656689;
}
main section.blog .container .body .blog-cards .blog-card:hover .blog-card-images {
  opacity: 0.8;
}

footer {
  background: #fff6ed;
  padding: 50px 0;
}
footer .container .body {
  display: flex;
}
footer .container .body .footer-logo {
  padding: 60px 210px 140px 0;
}
footer .container .body .footer-logo .form-footer {
  margin: 40px 0 68px;
  max-width: 280px;
}
footer .container .body .footer-logo .form-footer .form-input {
  min-width: 268px;
  padding: 16px 22px;
  outline: none;
  background: #ffffff;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.17;
  border: 1px solid rgba(255, 91, 46, 0.25);
  border-radius: 23px;
}
footer .container .body .footer-logo .form-footer .form-submit {
  border: none;
  outline: none;
  background-color: transparent;
  position: relative;
  margin-left: -44px;
  width: 46px;
  height: 46px;
  background-color: #ff5b2e;
  border-radius: 50%;
  color: #fff;
}
footer .container .body .footer-logo .footer-title {
  font-family: "Sora";
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.11;
  color: #000958;
}
footer .container .body .footer-logo .list-icon {
  margin-top: 16px;
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
footer .container .body .footer-logo .list-icon .icon-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fff;
}
footer .container .body .footer-social {
  padding-left: 130px;
}
footer .container .body .footer-social .row {
  margin-bottom: 58px;
  display: flex;
  -moz-column-gap: 138px;
       column-gap: 138px;
}
footer .container .body .footer-social .row .group-social {
  width: 50%;
}
footer .container .body .footer-social .row .group-social .social-title {
  font-family: "Sora";
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.11;
  color: #000958;
}
footer .container .body .footer-social .row .group-social .list-social {
  margin-top: 14px;
}
footer .container .body .footer-social .row .group-social .list-social .social-item {
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2;
  color: #656689;
}
footer .container .nocopy {
  text-align: center;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.17;
  color: #656689;
  opacity: 0.5;
}/*# sourceMappingURL=basic.css.map */